#h1{
    padding: 20px;
    border: 2px solid blueviolet;
    margin: 40px;
}
div{
    height: 200px;
    width: 200px;
    padding: 50px;
    margin: 20px;
    border: 5px dotted red;
    border-radius: 15px;
    box-sizing: content-box;/*content box*/
    background-color: rgb(13, 85, 109);
}
#borderbox{
    height: 200px;
    width: 200px;
    padding: 50px;
    margin: 20px;
    border: 5px solid rgb(5, 81, 39);
    box-sizing: border-box;/*border box*/
    background-color: rgb(13, 85, 109);
}