#price {
    color: red;
}
#title{
    color: brown;
}
#desc{
    color: cadetblue;
}
button {
    background-color: blue;
    color: white;
    padding: 5px;
}
.div1 {
    height: 500px;
    width: 700px;
    border: 5px solid red;
    background-color: white;
    margin: 0 auto; 
    text-align: center; 
    border-radius: 10px; 
    padding: 20px;
}
body {
    background-color: gray;
    font-family: Arial, Helvetica, sans-serif;
}
button:hover{
    background-color: darkblue;
    padding: 10px;
}
