.parent_em{
    font-size: 2em;
    padding: 20px;
    background: white;
}
.child_em{
    font-size: 2em;
    margin-top: 1em;
    background: pink;
}
.root{
    font-size: 16px;/* default*/
}
.box{
    font-size: 3em;/* */
    padding: 0.5rem;/* 8px*/
    background: #f0f0f0;
}
.box-rem{
    font-size: 2rem;
    padding:1rem;
    background: #d1f7c4;
}
.bx-vhvw{
    width: 50vw;
    height: 30vh;
    background: #a0d8ff;
}